* {
  box-sizing: border-box;
}

div {
  text-align: center;
}

input {
  height: 30px;
  width: 60%;
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 20px;
  outline: none;
}

button {
  margin: 30px 10px;
  height: 70px;
  font-size: larger;
  padding: 0 20px;
  border: none;
  background-color: rgba(228, 227, 227, 0.3);
}

i {
  position: absolute;
  top: 296px;
}

.fa-search {
  color: #bbb;
  left: 280px;
}

.fa-keyboard {
  right: 310px;
}

.fa-microphone {
  color: dodgerblue;
  right: 280px;
}

.logo-img {
  margin-top: 80px;
}

.service {
  margin-top: 20px;
  font-weight: bold;
}
